.footer{
  background: #000;
}

.footer-container{
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  
}

.footer-texto{
  font-size: 1.5rem;
  line-height: 1.33;
  color: #ccc;
}

.footer-contato li{
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 1.1;
  color: #fff;
  margin-bottom: 10px;
  margin-bottom: 20px;
}

.footer-contato{
  position: relative;
}

.footer-contato .contato-email::before{
  display: block;
  content: '';
  width: 24px;
  height: 24px;
  background: url(../img/email.svg) no-repeat;
  position: absolute;
  left: -35px;
}

.footer-contato .contato-tel::before{
  display: block;
  content: '';
  width: 24px;
  height: 24px;
  background: url(../img/telefone.svg) no-repeat;
  position: absolute;
  left: -35px;
}

.footer-contato .contato-social::before{
  display: block;
  content: '';
  width: 30px;
  height: 30px;
  background: url(../img/social.svg) no-repeat;
  position: absolute;
  left: -37px;
}


.footer-contato a{
  text-decoration: none;
  color: #fff;
}


.footer-container ul{
  position: relative;
}


.footer-copy{
  grid-column: 1/-1;
  font-size: 1.25rem;
  color: #8f8f8f;
}

@media (max-width: 800px){
  .footer-container{
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .footer-contato li{
    font-size: 1.5rem;
  }

  .footer-contato .contato-email::before{
  display: none;
  content: '';
  width: 24px;
  height: 24px;
  background: url(../img/email.svg) no-repeat;
  position: absolute;
  left: -35px;
}

.footer-contato .contato-social::before{
  display: none;
  content: '';
  width: 24px;
  height: 24px;
  background: url(../img/social.svg) no-repeat;
  position: absolute;
  left: -35px;
}
}
