.header {
  padding: 40px 20px;
  display: flex;
  justify-content: space-between; /* Espaçando os containers */
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.header:hover {
  opacity: 0.8;
  transition: 500ms linear;
  transition-delay: 300ms;
}

.header-menu {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.header-menu:hover {
}

.header-menu a {
  display: block;
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  color: #141414;
}

.header-menu a:hover {
  color: #ff7a00;
  scale: 1.1;
  transition: 300ms linear;
}

@media (max-width: 800px) {
  .header {
    flex-direction: column; /* Define a direção do flex.*/
    gap: 40px;
    padding: 20px;
  }

  .header a {
    background: #f5f5f5;
    border-radius: 4px;
  }

  .header-menu {
    row-gap: 2rem;
  }
}

@media (max-width: 400px) {
  .header {
  }

  .header-menu {
    flex-direction: column;
    row-gap: 1rem;
  }

  .header-menu a {
    padding: 10px 80px;
  }
}
